# DAY 5

## Tuples

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = (1,2,3,4,45,45.45,"sudh",True)
type(t1)

tuple

In [4]:
l = [1,2,3,4]
type(l)

list

In [5]:
t1

(1, 2, 3, 4, 45, 45.45, 'sudh', True)

In [6]:
t1[0]

1

In [8]:
t1[6]

'sudh'

In [10]:
t1[::-1]

# this will not make any change in original tuple. Because we have not done assignment operation here.

(True, 'sudh', 45.45, 45, 4, 3, 2, 1)

In [11]:
t1 = t1[::-1]
t1

(True, 'sudh', 45.45, 45, 4, 3, 2, 1)

In [12]:
t1[0:3]

(True, 'sudh', 45.45)

In [13]:
t1.count(4)

1

In [14]:
t1.count("abc")

0

In [15]:
t1.index(1)

0

NOTE - Internally the system is going to store the value of True as 1

In [16]:
t1.count(True)

2

Internally, system tries to store boolean variable True as 1 and False as 0.

In [17]:
t1.count(1)

2

Tuples are immutable entities at any point of time.
* They don't allow to change any element at a particular index.

In [18]:
## this will generate error

t1[0] = "abhishek"

TypeError: 'tuple' object does not support item assignment

In [19]:
for i in t1:
    print(i)

True
sudh
45.45
45
4
3
2
1

In [20]:
for i in t1:
    print(i,type(i))

True <class 'bool'>
sudh <class 'str'>
45.45 <class 'float'>
45 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [21]:
t2 = (1,2,3,3,4)
t2*3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [22]:
max(t2)

4

In [23]:
min(t2)

1

In [25]:
t1 = (1,2,3,4)
t2 = (4,5,6,7,8)
t3 = (t1,t2)
t3

# storing tuples inside a tuple

((1, 2, 3, 4), (4, 5, 6, 7, 8))

In [26]:
# storing list inside a tuple

t4 = ((1,2,3,4),[1,3,5,6,7,8])
t4

((1, 2, 3, 4), [1, 3, 5, 6, 7, 8])

Deletion operation is possible in case of a tuple

In [27]:
del t4

In [28]:
t4

NameError: name 't4' is not defined

In [29]:
t1

(1, 2, 3, 4)

In [30]:
len(t1)

4

In [31]:
"sudh" in t1

False

In [32]:
2 in t1

True