# DAY 2

#### Dynamic typing

Compiler will automatically understand the datatype of variable on run time.

In [1]:
a = 10
a = "c"
type(a)

str

In [2]:
int()

0

print() - print values to sys.stdout (or output console)

In [3]:
print(123)

123

In [4]:
age  = 21
print("My age is : ",age)

My age is :  21

f string  - used for formatting purpose

In [5]:
print(f"My age is : {age}")

My age is : 21

##### format()

In [6]:
name = "Abhishek"
age = 21
print("My name is {} and age is {}".format(name,age))

My name is Abhishek and age is 21

##### placeholder

In [7]:
print("My name is {firstname} and age is {firstage}".format(firstname = name,firstage = age))

My name is Abhishek and age is 21

In [8]:
name = "Abhishek"
age = 21
degree = "B.Tech"

print("My age is {} and I have completed my degree of {} with the name of {}".format(age,degree,name))

My age is 21 and I have completed : my degree of B.Tech with the name of Abhishek

In [9]:
print(f"My age is {age} and I have completed my degree of {degree} with the name of {name}")

My age is 21 and I have completed my degree of B.Tech with the name of Abhishek

### Control Flow

#### Decision Making statements

In [10]:
## if statements

age = 18
if age>=18:
    print("You are eligible to vote.")

You are eligible to vote.

In [12]:
input()

 Abhishek Shukla

'Abhishek Shukla'

In [13]:
name = input("Enter your name : ")

Enter your name :  Abhishek Shukla

In [14]:
age = int(input("Enter your age : "))

Enter your age :  21

In [15]:
type(age)

int

In [16]:
age = int(input("Enter the age : "))
if age>=18 and age<=32:
    print("You are young blood.")

Enter the age :  21

You are young blood.

In [17]:
# if-else statement 

age = int(input("Enter your age : "))
if age>=18 and age<=45:
    print("You are young blood.")
else:
    print("Thank You. We will let you know.")

Enter your age :  56

Thank You. We will let you know.

In [18]:
# 20% discount on product above Rs. 1000
# else there is discount of 30%

price  = int(input("Enter the price : "))
if price>1000:
    print("The price of product is {}".format(price*0.8))
else:
    print("The price of product is {}".format(price*0.7))

Enter the price :  5000

The price of product is 4000.0

In [19]:
## elif 

price = int(input("Enter the price : "))
if price>3000:
    print(f"The price of product is {price*0.8}")
elif price>2000 and price<=3000:
    print(f"The price of product is {price*0.7}")
elif price>1000 and price<=2000:
    print(f"The price of product is {price*0.6}")
else:
    print("Lets drink tea.")

Enter the price :  900

Lets drink tea.

In [20]:
price = int(input("Enter the price : "))
if price>3000:
    if price==4000:
        print("Congratulations! You get a Goa trip.")
    print(f"The price of product is {price*0.8}")
elif price>2000 and price<=3000:
    if price==2999:
        print("Congratulations! You get an additional gift.")
    print(f"The price of product is {price*0.7}")
elif price>=1000 and price<=2000:
    print(f"The price of product is {price*0.6}")
else:
    print("Lets drink tea.")

Enter the price :  2999

Congratulations! You get an additional gift.
The price of product is 2099.2999999999997

In [22]:
# single statement suite

val = int(input("Enter the number : "))
if (val<=999) : print("Value is less than or equal to 999.")

Enter the number :  500

Value is less than or equal to 999.

### Loop statements

##### 1.) while 
##### 2.) for 
##### 3.) nested loop
##### 4.) loop control (break, continue, pass)

In [23]:
## while loop - while-else

joining_age = 25
while joining_age<=60:
    joining_age = joining_age+1
    print(joining_age)
else:
    print("Its time for retirement.")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement.

In [24]:
joining_age = 25
while joining_age<=60:
    print(joining_age)
    joining_age = joining_age+1
else:
    print("Its time for retirement.")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement.

In [25]:
## money in atm

total_amount = 1000
while total_amount!=0:
    print(total_amount)
    total_amount = total_amount-100
else:
    print("Put more money bank people.")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people.

#### for loop

for loop usually works for iteration inside a collection or container or lists.

In [28]:
lst = ["Krishna",1,2,3,4,"apple","banana"]

In [29]:
type(lst)

list

In [30]:
lst[0]

'Krishna'

In [32]:
## x - temporary variable
## lst - collection

for x in lst:
    print(x)

Krishna
1
2
3
4
apple
banana

In [33]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [34]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry.")

Mango
Cherry
The fruit is cherry.
Apple
Papaya
Banana

In [36]:
fruit = "mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [37]:
fruit[2]

'n'

In [9]:
## range

range(1,6)

range(1, 6)

In [11]:
for i in range(1,6):
    print(i)

1
2
3
4
5

##### Nested loops

In [7]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end = " ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [8]:
## assignment  - equilateral triangle using star pattern

n = 4
for i in range(1,5):
    print(" "*(n-i)+"* "*i)

   *
  * *
 * * *
* * * *

In [3]:
## another instance of triangle

n=int(input("Enter : "))
lst = [n]
e = 0
for i in range(0,n):
    e+=1
    for j in range(2*n):
        if j in lst:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print("\r")
    lst = lst + [n-e,n+e]

Enter :  5

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [4]:
## loop controls
## break and continue

fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [12]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple.")
        break
    print(i)

Mango
Cherry
The fruit is apple.

In [13]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple.")
        pass
    print(i)

Mango
Cherry
The fruit is apple.
Apple
Papaya
Banana

In [15]:
## continue

for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple.")
        continue
    print(i)

Mango
Cherry
The fruit is apple.
Papaya
Banana